<ion-view>
  <ion-content>
    <h2>Información</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        En el desarrollo de esta aplicación participaron las siguientes personas:
        <hr />
        <div class="row">
          <div class="col-md-12">
            <b><span class="glyphicon glyphicon-user"></span> Juan Pablo Ojeda</b>
            <p><span class="glyphicon glyphicon-star"></span> Diseñador Gráfico</p>
            <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:juanpa01@gmail.com">juanpa01@gmail.com</a></p>
            <p><span class="glyphicon glyphicon-link"></span> <a href="https://behance.net/juanpi">https://behance.net/juanpi</a></p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-12">
            <b><span class="glyphicon glyphicon-user"></span> Miguel González Aravena</b>
            <p><span class="glyphicon glyphicon-star"></span> Desarrollador Web</p>
            <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:contacto@miguelgonzaleza.com">contacto@miguelgonzaleza.com</a></p>
            <p><span class="glyphicon glyphicon-link"></span> <a href="http://miguelgonzaleza.com">http://miguelgonzaleza.com</a></p>
          </div>
      	</div>
      </div>
    </div>
    <a ui-sref="inicio" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span> Volver</a>
  </ion-content>
</ion-view>